html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  box-sizing: border-box;
}

:root {
  --root-primary: #222;
  --root-secondary: #222;
  --root-secondary-darker: #555;
  --root-border: #ff4444;
  --root-bg: #fefefe;
  --root-ok: #00c853;
  --root-info: #2979ff;
  --root-header: #eee;
  --root-warning: #ff9100;
  --root-error: #ff4444;
  --root-table-light: #f7f7f7;
  --root-table-dark: #f2f2f2;
  --root-table-border: #ccc;
}

@media(prefers-color-scheme: dark) {
  :root {
    --root-primary: #222;
    --root-secondary: #fff;
    --root-secondary-darker: #ddd;
    --root-border: #ff4444;
    --root-bg: #020013;
    --root-ok: #00c853;
    --root-info: #2979ff;
    --root-header: #0f134c;
    --root-warning: #ff9100;
    --root-error: #ff4444;
    --root-table-light: #031965;
    --root-table-dark: #0f134c;
    --root-table-border: #004eff;
    --root-modal-bg: #0b0e37;
  }
  .ant-modal-content {
    background-color: var(--root-modal-bg) !important;
    color: var(--root-secondary);
  }
  .ant-modal-header, .ant-modal-title {
    background-color: var(--root-header) !important;
    color: var(--root-secondary) !important;
  }
  .ant-modal-close-x {
    color: var(--root-secondary-darker);
  }
  .ant-modal-header, .ant-modal-footer {
    border-color: var(--root-info) !important;
  }
}

.ant-modal-content h2 {
 font-size: 1.19rem;
}

.ant-modal-content .table-row {
  font-size: 1.1em;
}

body {
  color: var(--root-secondary);
  background-color: var(--root-bg) !important;
  font-size: 1rem;
}

.status-display {
  text-align: center;
  display: flex;
  position: inherit;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  margin-top: -0.1rem;
  padding: 0.7em;
  color: #fff;
  border-radius: 5px;
}

.status-warn {
  background-color: var(--root-warning);
}

.status-ok {
  background-color: var(--root-ok);
}

.status-outage {
  background-color: var(--root-error);
}

.status-info {
  background-color: var(--root-info);
}

.status-header {
  display: inline-flex;
  align-items: center;
  padding: 0.7em;
  min-width: 100%;
  background-color: var(--root-header);
}

.sm-logo {
  width: 1.5rem;
}

.md-logo {
  width: 2.8rem;
  cursor: pointer;
}

.align-right-flex {
  margin-left: auto;
}

.status-wip {
  padding: 0.7em;
  display: block;
  min-width: 100%;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-top: 20px!important;
  border-radius: 5px;
}

.table-rows {
  padding: 0.7rem;
  display: block;
  text-align: center;
}

.table-row-card {
  display: inline-block;
  padding: 0.5rem;
  border: 0.1rem solid var(--root-border);
  margin-right: 0.5rem;
  border-radius: 1.2rem;
  color: var(--root-primary) !important;
}
.table-row-card h2 {
  color: var(--root-primary);
}

h1 {
  margin-top: 10px !important;
  color: var(--root-secondary) !important;
  display: block;
  text-align: center;
}

h2, h3 {
  color: var(--root-secondary);
  display: block;
  /* text-align: center; */
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.table {
  padding: 0 !important;
  color: var(--root-secondary);
  overflow: hidden;
  margin: 5px auto;
  border: 1px solid var(--root-table-border);
  border-radius: 10px;
}

@media(min-width: 1200px) {
  .table {
    max-width: 1140px;
  }
}
@media(max-width: 1200px) {
  .table {
    max-width: 95%;
  }
}

.table-row {
  position: relative;
  background-color: var(--root-table-light);
  text-align: left;
  padding: 5px 0 5px 10px;
}

.table-row:nth-child(even) {
  background-color: var(--root-table-dark);
  border-top: 1px solid var(--root-table-border);
  border-bottom: 1px solid var(--root-table-border);
}


.table-row h2 {
  margin: 0 !important;
  color: #999;
  font-size: 1.2em;
}

.table-row-title {
  color: var(--root-secondary-darker) !important;
}

.table-row-status {
  color: var(--root-secondary-darker);
}

.active {
  cursor: pointer;
}

.status-info a {
  padding-left: 5px;
  color: #ddd;
  text-decoration: underline;
  text-underline-position: below;
}

.status-info a:hover {
  padding-left: 5px;
  color: #bbb;
  text-decoration: underline;
  text-underline-position: below;
}

.incident-status {
  color: var(--root-secondary);
  padding: 0;
  margin: 0;
  text-align: center;
}

.istatus-warn {
  color: var(--root-warning);
}

.istatus-ok {
  color: var(--root-ok);
}

.istatus-err {
  color: var(--root-error);
}

.incident-title {
  color: var(--root-secondary);
  text-align: center;
  padding: 0;
  margin: 0;
}
.ant-skeleton {
  margin: 20px!important;
}